/* <style> 태그 금지 */
/* 선택자{속성:값;} */
/* html 디자인 초기화 */
/* 모든 태그들에 대한 공통 초기값 세팅 */
html,body,h1,h2,h3,h4,h5,h6,
dl,dt,dd,ol,ul,li,p,blockquote,hr,div,video,address,
header,footer,nav,aside,article,section,figure,figcaption,main,details,summary,
form,fieldset,legend,input,button,select,option,textarea,
em,strong,sub,sup,br,span,del,s,q,mark,code,img,a,
table,thead,tbody,tfoot,tr,td,th {
    margin:0; padding:0; box-sizing:border-box;
    line-height:1; letter-spacing:-0.02em; word-spacing:0;
    font-size:1em; font-weight:400; font-style:normal;
    color:#000;
    font-family:'pretendard',sans-serif;
}
/* 개별 태그 초기값 */
a {text-decoration:none;}
ul,ol,li {list-style:none;}
fieldset {border:0;}
legend {display:none;}
input {border:0; outline:none;}
button {border:0; background:none; cursor:pointer;}
table,tr,td,th {border-collapse:collapse;}
select, option {border:0; appearance:none; outline:none;}
/* chrome, safari, edge, opera */
/* 웹브라우저 엔진 -webkit-, -moz-, -m-, -o- */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
    -webkit-appearance:none;
    margin:0;
/* 디자인 css */
body {}
#weather {
    /* 1.크기 393x852 */
    width:393px; height:852px;
    /* 2. 간격20(형제사이(css는 형제선택자에 작성해야함)), 패딩(부모-자식) */
    /* 패딩이 상하(50) 좌우(15)  */
    padding: 50px 15px;
    /* 3. 배경색 */
    background-color:#007C50;
}
/* 부모#(weather) 안 모든(*) 자식(>) */
#weather > * {padding-bottom:20px;} /* 선택자 아래쪽에만 패딩 적용 */
#weather h1 {}
#weather .area {font-size:1.50em;} /* 사이즈 24 1.50em */
#weather .temperature {font-size:2em;} /* 사이즈 32 2em */
#weather p {} 
#weather .sub_title {font-size:1.25em;} /* 사이즈 20 1.25em */
#weather .humidity {}
#weather .dust {font-size:1.25em;} /* 사이즈 20 1.25em */
#weather .result {
    line-height:1.5em;} /* 행간 150% */
