body {}
#papago {
    margin:0 auto;
    /* 가로크기가 화면보다 작은 블록 레이아웃을 가운데로 배치할때 */
    /* 좌우가 auto 값인 이유 : pc ~ mobile까지 사용자가 접속한 기기에 따라 좌우 여백이 다르기 때문에 자동값 사용 */
    background-color: #E8CEFF;
    width:402px;height:874px;
    padding: 20px 15px;
    text-align:center; /* 글자 정렬 코드 */
}
#papago > * {margin-bottom:30px;}
#papago nav {text-align:left; 
    display: inline-block;/* 내용(자식)만큼 크기 인식 */
}
#papago nav a {display: block;
    width:200px;/* 크기 px 고정 시 위 w100% 값은 사라짐 */
    margin-bottom:15px;}
#papago nav a:nth-child(3) {margin-bottom: 0;}
/* E- NAV */
#papago main > * {margin-bottom:30px;
text-align: left;}
#papago main {
    padding:10px 0;
    width: 33;
}
#papago main h1 {}
#papago main h1 a {}
#papago main > a {display: block;}
#papago main > a:nth-child(4) {margin-bottom: 0;}
/* e - main */
#papago > a {
    margin-bottom: 0;
    padding:20px 30px;
    background-color: white;
    border-radius:30px;/* 모서리(boder), 둥글게(radids) */
}